@model IEnumerable<Spor_Salonu.Models.beslenme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutkullanici.cshtml";
}


@foreach (var item in Model)
{
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">@Html.DisplayFor(modelItem => item.kategori2.kategoriad)</span>
                            <span class="section-heading-lower">@Html.DisplayFor(modelItem => item.gun.gunad)</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/web/assets/img/beslenme.jpg" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        Sabah
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.aciklamas)</p>
                        Öğlen
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.aciklamao)</p>
                        Akşam
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.aciklamaa)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
}

